/* Scroll Bar */

/* Chart z-index */
svg {
  /* z-index: -1;
  position: relative; */
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Search List */
.search-list__link {
  color: #63ADF2;
  text-decoration: none;
}

.search-list__input {
  margin: 1vh 3vw 0vh 14vw;
  width:70vw;
  background-color: #5c667d;
  border: none;
  transition: border .5s;
  color: whitesmoke;
  font-weight: bold;
}

.search-list__input:hover {
  border-bottom: 1px solid #68b6ff;
  /* border-bottom: 1px solid whitesmoke; */
}

.search-list__item:hover {
  background-color: #3E6680;
}

.search-list__item {
  width: 100%;
  list-style: none;
  margin:0px;
  padding:0px;
}

.search-list {
  margin: 1vh 3vw 0vh 14vw;
  position: relative;
  overflow-x: hidden;
  width:70vw;
  max-height: 50vh;
  background-color: aliceblue;
  z-index: 12;
}
/* Coin Stats */
  .coin-nav {
    height: 5vh;
    border-bottom: 4px #A7CCED solid;
    background-color: #545E75;
    display: flex;
  }

  .coin-nav__home {
    margin-top: 1vh;
    margin-left: 2vw;
  }
  .coinstats__main {

  }
  .coinstats__main-row {
    border-bottom: .5px solid lightgrey;
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: space-evenly;
    padding: 0px 2vw;
    justify-content: center;
  }

  .coinstats__price {
    font-size: 20px;
    padding: 0px 2vw;
  }

  .coinstats__row-item {
    font-size: 14px;
    padding: 0px 2vw;
  }
  .coinstats__header {
    color: #1589EE;
  }

/* Crypto Container */
  .crypto-container__main-container {
    margin: .5vh .5vw;
    border-radius: 3px;
    transition: box-shadow 1s; 
  }

  .crypto-container__main-container:hover{
    box-shadow: 0px 0px 3px 0px rgba(158,158,158,1);
  }

  .crypto-list-item {
    height: 10vh;
    border: 1px solid #cfd1d48f;
    transition: box-shadow .5s;
  }

  a {color:#63ADF2;}      /* unvisited link */
  a:visited {color:#63ADF2;}  /* visited link */
  a:hover {color:#545E75;}  /* mouse over link */
  a:active {color:#63ADF2;}

  .crypto-list-item:hover {
    box-shadow: 0px 1px 2px 0px rgba(158,158,158,1);
  }

  .crypto-list-item__bold-text {
    font-weight: 400;
    font-size: 14px;
  } 

  .crypto-list-item__link{
    text-decoration: none;
  }
  td {
    text-align: center;
  }

  .crypto-container__top-row {
    border-bottom: 1px solid black;
    height: 4vh;
    color: #545E75;
  }

  .small-text {
    font-size: .75em;
  }
  
  .crpyto-container {
    border-collapse: collapse;
    width: 100%;
    border-radius: 2px;  
  }



  
  .crypto-container__header{
    color: #CAD2C5;
    border-bottom: 1px solid lightgrey;
  }
  .crypto-container__item{
    display: flex;
    align-content:space-evenly;
    flex-direction: row;
    padding: 5px;
    border-bottom: solid 1px #354F52;
  }

  /* tr:nth-child(even) {
    background: #3e66808c;
  } */

  .positiveColor {
    color: green;
  }

  .negativeColor {
    color: red;
  }
/* News Container */
  .NewsContainer-main-container {
    display:flex;
    flex-flow: row wrap;
  }
  .NewsContainer-main-container--desktop {
    display:flex;
    flex-flow: row wrap;
  }
  .NewsContainerItem {
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    border: solid 1px black;
    border-radius: 0%;
    padding: 1vh 1vw .5vh 1vw;
    margin: 1vh 3vw;
    background-color: whitesmoke;
    border-bottom: 7px solid #00487C;
    transition: border .1s, box-shadow .1s;
    width: 93vw; 
  }
  .NewsContainerItem:hover {
    border: solid 1px black;
    box-shadow: none;
  }

  .NewsContainerItem:active {
    box-shadow: inset 0px 3px 20px -2px rgba(0,0,0,0.75);
  }
  .NewsContainerItem__thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .NewsContainerItem__text-block {
    display: inline-block;
    width: 100%;
    padding: 1vw;
  }

  .NewsContainerItem__coin-badge {
    display: inline-block;
    background-color: darkgrey;
    padding: .5vw .5vh;
    margin: 0px 1vw;
    border-radius: 5px;
  }

@media only screen and (min-width: 1024px){
   .NewsContainerItem {
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    border: solid 1px black;
    border-radius: 0%;
    padding: 1vh 1vw .5vh 1vw;
    margin: 2px 2px;
    background-color: whitesmoke;
    border-bottom: 7px solid #00487C;
    transition: border .1s, box-shadow .1s;
    width: 17vw; 
    margin: 8px 24px; 
  }
}

/* //iPad size
@media only screen and (max-width: 768px){
  .crpyto-container{
    max-height: 80vh;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
  }

  .crypto-container__item{

  }

  .crypto-container__item-desktop {
    display: none;
  }
}
//iPhone 6/7/8
@media only screen and (max-width: 375px){
  .crpyto-container{
    display: flex;
    flex-flow: column;
    max-height: 80vh;
    overflow-x: hidden;
  }

  .crypto-container__item-desktop {
    display: none;
  }
  .crypto-container__item{

  }
}
//iPhone 5
@media only screen and (max-width: 320px){
  .crpyto-container{
    max-height: 80vh;
    overflow-x: hidden;
    display: none;
    flex-flow: column;
  }

  .crypto-container__item-desktop {
    display: none;
  }
  
  .crypto-container__item{
    padding: 5px;
    border-bottom: solid 1px #354F52;
  }
} */


*{
  box-sizing: border-box;
}