  /* .crpyto-container {
    max-height: 80vh;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
  }

  .crypto-container__item {
    padding: 5px;
    border-bottom: solid 1px #354F52;

  .crypto-container__item-desktop {
    margin-left: 18vw;
  }
*/
  

  .crypto-container__item-right {
    float: right;
    padding: 0px 10px;
  }
  .crypto-container__item-middle {
    padding: 0px 10px;
  }
  .bold-text {
    font-weight: bold;
    padding: 0px 2vw;
  } 

  .small-text {
    font-size: 4px;
  }
  .crpyto-container{
    max-height: 80vh;
    overflow-x: hidden;
  }
  
  .crypto-container__item{
    display: flex;
    align-content:space-evenly;
    flex-direction: row;
    padding: 5px;
    border-bottom: solid 1px #354F52;
  }

  .crypto-container__item:nth-child(odd) {
    display: flex;
    align-content:space-evenly;
    flex-direction: row;
    padding: 5px;
    border-bottom: solid 1px #354F52;
    background: #CAD2C5;
  }

//iPad size
@media only screen and (max-width: 768px){
  .crpyto-container{
    max-height: 80vh;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
  }

  .crypto-container__item{

  }

  .crypto-container__item-desktop {
    display: none;
  }
}
//iPhone 6/7/8
@media only screen and (max-width: 375px){
  .crpyto-container{
    display: flex;
    flex-flow: column;
    max-height: 80vh;
    overflow-x: hidden;
  }

  .crypto-container__item-desktop {
    display: none;
  }
  .crypto-container__item{

  }
}
//iPhone 5
@media only screen and (max-width: 320px){
  .crpyto-container{
    max-height: 80vh;
    overflow-x: hidden;
    display: none;
    flex-flow: column;
  }

  .crypto-container__item-desktop {
    display: none;
  }
  
  .crypto-container__item{
    padding: 5px;
    border-bottom: solid 1px #354F52;
  }
}


*{
  box-sizing: border-box;
}