
  .crypto-list-item__bold-text {
    font-weight: 400;
    font-size: 14px;
  } 
  td {
    text-align: center;
  }
  .small-text {
    font-size: 4px;
  }
  .crpyto-container{
    border-collapse: collapse;
    width: 100%;
    
  }
  .crypto-container__header{
    color: #CAD2C5;
    border-bottom: 1px solid lightgrey;
  }
  .crypto-container__item{
    display: flex;
    align-content:space-evenly;
    flex-direction: row;
    padding: 5px;
    border-bottom: solid 1px #354F52;
  }

  tr:nth-child(even) {
    background: #CAD2C5;
  }

  .positiveColor {
    color: green;
  }

  .negativeColor {
    color: red;
  }
//iPad size
@media only screen and (max-width: 768px){
  .crpyto-container{
    max-height: 80vh;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
  }

  .crypto-container__item{

  }

  .crypto-container__item-desktop {
    display: none;
  }
}
//iPhone 6/7/8
@media only screen and (max-width: 375px){
  .crpyto-container{
    display: flex;
    flex-flow: column;
    max-height: 80vh;
    overflow-x: hidden;
  }

  .crypto-container__item-desktop {
    display: none;
  }
  .crypto-container__item{

  }
}
//iPhone 5
@media only screen and (max-width: 320px){
  .crpyto-container{
    max-height: 80vh;
    overflow-x: hidden;
    display: none;
    flex-flow: column;
  }

  .crypto-container__item-desktop {
    display: none;
  }
  
  .crypto-container__item{
    padding: 5px;
    border-bottom: solid 1px #354F52;
  }
}


*{
  box-sizing: border-box;
}